{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Company
{% endblock title %}


{% block content %}
    <h2>Add A Company</h2>


    <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Add company info</h2>
        </div>

        <div class="panel-body">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
    </div>

{% endblock content %}
