<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ company.name }}
            {% if user.is_authenticated %}
            <a style="font-size: 11px; font-weight: 300; text-transform: uppercase;" class="pull-right" href="edit">  (Edit)</a>
            {% endif %}
        </h2>
    </div>
    <div class="panel-body">
        <a href="{% url 'companies' %}{{ company.name }}">
        <img class="pull-left img-responsive blog-img" alt="Image" src="{{ company.image.url }}">
        </a>
            <p>Founded: {{ company.founded }}</p>
        <p>Address: {{ company.address }}</p>
        <p>City: {{ company.city }}</p>
        <p>Description: {{ company.description }}</p>
    </div>
</div>